body {
	font-family: ;
    margin: 0;
    padding: 0;
}


.container-max {
	width: 100%;
}

/*------- responsive part -------------*/


* {
    box-sizing: border-box;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


/*------- /responsive part ------------*/



/*------- Barre de navigation ---------*/
/*
.navbar {
	width: 90%;
	margin: auto;
	background-color: #111111;
	color: #DEDEDE;
	height: 40px;
}
*/
.navbar {
    margin: 0;
    padding: 0;
    height: 47px;
    background-color: #333;
}

.navbar ul {
	list-style-type: none;
    background-color: #333;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    width: 800px;
    left: 50%;
    transform: translateX(-50%);
}

.navbar ul li {
    float: left;
    margin: 0;
    padding: 0;
	vertical-align: middle;
}

.navbar ul li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
    color: #DEDEDE;
}

.navbar ul li a:hover {
    background-color: #111;
    color: #DEDEDE;
}

.navbar ul li a.active {
	background-color: #DEDEDE;
	color: #111111;
}


/*------- /navbar ---------------------*/




/*------- Header ----------------------*/

#header {
	background-image: url(../img/header.jpg);
    background-repeat: no-repeat;
    height: 280px;
    position: relative;
    top: 0;
    width: 800px;
    left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    
	.navbar ul {
    	left: 0;
    	transform: translateX(0);
	}

	#header {
	    left: 0;
	    transform: translateX(0);
	}

}


/*------- /Header ---------------------*/



